<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>TaskShare</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="shortcut icon" href="favicon.ico" mce_href="favicon.ico"/>

        <!-- Le styles -->
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.tweaks.css" />
        <!-- <script type="text/javascript" src="/js/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script> -->
        <script type="text/javascript" src="/minify/js?files=jquery-2.0.3.min.js,bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
        <style>
            img
            {
                margin: 10px 0;
            }
            </style>

    </head>

    <body>

        <div class="container">

                <div class="navbar">
                <div class="navbar-inner">
                    <a class="brand" href="/">TaskShare</a>
                <div class="container">
                    <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </a>
                <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="/about">About</a></li>
                </ul>
                </div>
                </div>
                </div>
                </div>
            <div class="row">
                <div class="span8 offset2">
                     <h2>About the project</h2>
                    <p class="lead">TaskShare aims to help people manage and share simple task lists easily.</p>
                    <p>Honestly, my partner and I were in dire need of a better way to manage our lists. We were always remembering those one or two items we needed from this or that store. However, by the time we got there, either we had forgotten, or the list was with the other person.. it wasn't good.</p>
                    <p>We've been using TaskShare for about 8 months, and it is a part of our life/flow now. I hope others find it useful.</p>
                    <h2>Getting Started</h2>
                        <h3>Briefly..</h3>
                        <p>Create a new taskboard by using the ginormous button on the home page. New lists are added by the <strong>New Tasklist</strong> button on the top left to create your first list. Clicking on the <strong>list title</strong> (default is New List) brings up a small nav.</p>
                        <ul>
                            <li><i class="icon-plus"></i> Add task(s) to list</i></li>
                            <li><i class="icon-pencil"></i> Edit list name</i></li>
                            <li><i class="icon-trash"></i> Delete list</i></li>
                        </ul>
                        <p>Share your list by sending them the pages address. Done.</p>
                        <h3>One minute tutorial</h3>
                        <p>Okay, first thing we need is a new Taskboard. Click on the <strong>Create TaskBoard Now</strong> button on the homepage. It should take you to your new Taskboard! How simple was that?</p>
                        <img src="/img/newboard.png" class="img-polaroid">
                        <p>Looking good! Hm, but we need a place to put our todo list.. Click on the <strong>New Tasklist</strong> button on the top left to create your first list.</p>
                        <img src="/img/newlist.png" class="img-polaroid">
                        <p>Okay, so that is something. But, let's not keep the name <strong>New List</strong>, Let's pretend we are going to share your weekly grocery list with your partner. Let's make it a little more clear. Click on the <strong>list title</strong> (New List) and a menu appears</p>
                        <img src="/img/menu.png" class="img-polaroid">
                        <p>Options! Okay, we want to rename this, so let's hit the pencil.</p>
                        <img src="/img/editlistname.png" class="img-polaroid">
                        <p>Type in 'Groceries' and hit enter or click on the <strong>Done</strong> button.</p>
                        <img src="/img/newlistname.png" class="img-polaroid">
                        <p>All right! We need to actually add some items to our grocery list, so click the <strong>list title</strong> (Groceries) again to bring up the menu. This time, hit the plus icon.</p>
                        <img src="/img/additems.png" class="img-polaroid">
                        <p>Just start adding items into the list, hitting enter or <strong>Add</strong> button. to add that item to your list.</p>
                        <img src="/img/addeditems.png" class="img-polaroid">
                        <p>When you've added all the items you want, click the <strong>Done Adding</strong> button to get rid of that input area.</p>
                        <img src="/img/decentlist.png" class="img-polaroid">
                        <p>Feel free to have as many lists as you want. Share your lists by giving someone the url of the page; it's that simple.</p>
                        <img src="/img/lastlist.png" class="img-polaroid">


                        

                   
                    <h2>Frequently Asked Questions</h2>
                    <dl>
                        <dt>Wait, no login?? How is my list secure then?!</dt>
                        <dd>Pump the breaks. This is for <strong>non-secure</strong> lists. If someone guesses your uri, then they can see your taskboard. I've taken measures to minimize brute-forcing being successful, and if it becomes an issue I'll probably make the unique taskboard name longer.</dd>
                        <dt>I don't trust you with my list</dt>
                        <dd>Gosh, why so negative?? Okay then, well it's open-source. Go to our repo on github and set it up on your own server.</dd>
                    </dl>
                    <h2>Credits</h2>
                    <ul class="unstyled">
                        <li><a href="http://fatfreeframework.com/home">Fat-Free Framework</a></li>
                        <li><a href="http://getbootstrap.com/">Twitter Bootstrap v2.3.2</a></li>
                    </ul>
                    <h2>License</h2>
                    <p>Copyright 2014 Tim Habersack</p>
                    <p>TaskShare is released under an MIT license. <a href="http://opensource.org/licenses/MIT">http://opensource.org/licenses/MIT</a></p>
                    <h2>Author</h2>
                    <ul>
                        <li>Tim Habersack (tim@hithlonde.com / <a href="http://tim.hithlonde.com">http://tim.hithlonde.com</a>); Author, creator, founder, whatever</li>
                    </ul>

                </div>
            </div>


    

        </div> <!-- /container -->

    </body>
</html>
