<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>TaskShare</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="shortcut icon" href="favicon.ico" mce_href="favicon.ico"/>

        <!-- Le styles -->
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.tweaks.css" />
        <!-- <script type="text/javascript" src="/js/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script> -->
        <script type="text/javascript" src="/minify/js?files=jquery-2.0.3.min.js,bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>

    </head>

    <body>

        <div class="container">

                <div class="navbar">
                <div class="navbar-inner">
                    <a class="brand" href="/">TaskShare</a>
                <div class="container">
                    <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </a>
                <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                </ul>
                </div>
                </div>
                </div>
                </div>
            <div class="row">
                <div class="span8 offset2">
                    <h2>Getting Started</h2>
                        <h3>One minute tutorial</h3>
                        <p>Okay, first thing we need is a new Taskboard. Click on the <strong>Create TaskBoard Now</strong> button. It should take you to your new Taskboard! How simple was that?</p>
                        <img src="/img/newboard.png" class="img-polaroid">
                    <h2>About the project</h2>
                    <p class="lead">TaskShare aims to help people manage and share simple task lists easily.</p>
                    <h2>Author</h2>
                    <ul>
                        <li>Tim Habersack (tim@hithlonde.com); Author, creator, founder, whatever</li>
                    </ul>

                </div>
            </div>


    

        </div> <!-- /container -->

    </body>
</html>
