<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>TaskShare</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="shortcut icon" href="favicon.ico" mce_href="favicon.ico"/>

        <!-- Le styles -->
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.tweaks.css" />
        <!-- <script type="text/javascript" src="/js/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script> -->
        <script type="text/javascript" src="/minify/js?files=jquery-2.0.3.min.js,bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>

    </head>

    <body>

        <div class="container">

                <div class="navbar">
                <div class="navbar-inner">
                <div class="container">
                    <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </a>
                <form class="navbar-form pull-left add-list-wrapper" >
                <button type="button" class="btn btn-success add-list"><i class="icon-plus icon-white"></i> New Tasklist</button>
                </form>
                <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                </ul>
                </div>
                </div>
                </div>
                </div>

                <div class="row">
                <div class="offset1 span10">
                <ul class="thumbnails">
                <?php foreach($task_array as $tasklist):?>
                    <li class="span5">
                    <div class="thumbnail">
                    <h3><span class="list_title" id="list_<?php echo $tasklist['listid'];?>"><?php echo $tasklist['listname']; ?></span><span class="list_<?php echo $tasklist['listid'];?>"></span></h3>

                    <table class="table table-condensed list_<?php echo $tasklist['listid'];?>"><tbody>
                        <?php foreach($tasklist['listitem'] as $list):?>
                            <tr>                            
                                <td class="check_td"><button class="btn btn-small btn-success done_task" value="task-<?php echo $list['taskid'];?>"><i class="icon-ok icon-white"></i></button></td>
                                <td class="taskname"><?php echo $list['taskname'];?></td>
                            </tr>
                        <?php endforeach;?>
                    </tbody></table>
                    </div>
                    </li>
                <?php endforeach;?>
                </ul>

                <div id="templates">

                    <div id="popover_template">
                        <span class="replace_me"></span>
                        <div class="btn-group">
                            <button class="btn add_task"><i class="icon-plus"></i></button>
                            <button class="btn edit_listname"><i class="icon-pencil"></i></button>
                            <button class="btn delete_listname"><i class="icon-trash"></i></button>
                        </div>
                    </div>

                    <div id="tasklist_name_edit_template">
                        <span class="replace_me"></span>
                        <div class="input-append">
                            <input class="input-xlarge edit-tasklist-replace_me" type="text">
                            <button class="btn btn-success save_tasklist" type="button">Done</button>
                        </div>
                    </div>

                    <div id="task_add_template">
                        <br />
                        <span class="replace_me"></span>
                        <div class="input-append">
                            <input class="input-large add-task-replace_me" type="text">
                            <button class="btn btn-success save_task" type="button">Add</button>
                            <button class="btn btn-success done_adding_task" type="button">Done Adding</button>
                        </div>
                    </div>


                </div>

                

                </div>

                </div>


    

        </div> <!-- /container -->

    </body>
</html>
